.map
{
    position: relative;
    z-index: -1;
}

.navbar
{
    position: absolute;
    display: flex;
    width: 100%;
    z-index: 999;
    justify-content: center;
    gap: 10px;
}

.sidebar
{ 
    position: absolute;
    z-index: 999;
    width: 15%; 
    height: 100vh;
    overflow: auto; 
    padding: 10px; 
    background: white;
    display: none;
    right: 0;
    transition: ease-in-out 250ms;
}
.location-info
{
    padding: 10px;
    border-bottom: 1px solid #ccc; 
}
.button 
{ 
    background-color: white;
    margin-top: 10px; 
    padding: 5px 10px;
    border: 2px solid rgb(34, 26, 80);
    border-radius: 25px;
    transition: ease-in-out 250ms;
}
.button:hover
{
    border-radius: 5px;
    background-color: rgb(34, 26, 80);
    color: white;
}
.button__toggle--success
{
    background-color: rgb(27, 199, 27);
}



body { margin:0; padding:0; }
#map { height: 100vh; width: 100%; float: left; }

/* Anpassad stil för väderikoner */
.custom-div-icon {
    background: rgba(255, 255, 255, 0.5); /* Lägger till lite genomskinlighet */
    border: 1px solid #666;
    border-radius: 2px;
    padding: 2px;
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap; /* Hindrar texten från att brytas */
}

.measure-button {
    background-color: #fff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
