<!DOCTYPE html>
<html>
  <head>
    <title>GIS Web Application</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Leaflet CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <!-- Leaflet Polyline Plugin CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet.polylinemeasure/Leaflet.PolylineMeasure.css"
    />
    <!-- Leaflet Draw Plugin CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"
    />
    <!-- Leaflet Markercluster CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css"
    />

    <!-- Cutsom CSS -->
    <link rel="stylesheet" type="text/css" href="../static/general.css" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <button class="button" id="points-of-interest">Points of interest</button>
        <button class="button" id="load-fuel-stations">
          Toggle Fuel Stations
        </button>
        <button class="button" id="load-supermarkets">
          Toggle Supermarkets
        </button>
        <button class="button" id="show-weather">Toggle Weather</button>
        <button class="button" id="load-schools">Toggle Schools</button>
      </div>
      <div id="map"></div>
      <div class="sidebar" id="sidebar">
        <!-- Place to append location information -->
      </div>
    </div>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- PolylineMeasure JS -->
    <script src="https://unpkg.com/leaflet.polylinemeasure/Leaflet.PolylineMeasure.js"></script>
    <!-- Leaflet Draw Plugin JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <!-- Turf.js for Geospatial Analysis -->
    <script src="https://unpkg.com/@turf/turf"></script>
    <script src="https://unpkg.com/leaflet.markercluster"></script>

    <!-- Leaflet GeometryUtil -->
    <script src="https://unpkg.com/leaflet-geometryutil/src/leaflet.geometryutil.js"></script>

    <script>
      // Initialize the map
      var map = L.map("map", {
        center: [59.3293, 18.0686],
        zoom: 13,
        maxZoom: 19,
      });
      //Initialize the layers
      // Load a tile layer
      //Map Layer
      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
      }).addTo(map);

      var layers = {};

      //TASK 1
      // Add draw control
      var drawnItems = new L.FeatureGroup();
      map.addLayer(drawnItems);

      var drawControl = new L.Control.Draw({
        edit: {
          featureGroup: drawnItems,
        },
        draw: {
          polygon: {
            showArea: true,
            allowIntersection: false,
          },
          polyline: {
            metric: true,
          },
          rectangle: {
            showArea: true,
          },
          circle: {
            showRadius: true,
          },
          circlemarker: false,
          marker: true,
        },
      });
      map.addControl(drawControl);

      map.on(L.Draw.Event.CREATED, function (event) {
        var layer = event.layer;
        var content = "";
        var type = event.layerType;

        if (type === "marker") {
          content = `<b>Marker</b><br>Coordinates: ${layer
            .getLatLng()
            .toString()}<br><img src='https://placekitten.com/150/150' alt='Feature Image' style='width:100%; height:auto;'>`;
        } else if (type === "polyline") {
          var length = L.GeometryUtil.length(layer);
          content = `<b>Polyline</b><br>Length: ${length.toFixed(
            2
          )} meters<br><img src='https://placekitten.com/150/150' alt='Feature Image' style='width:100%; height:auto;'>`;
        } else if (type === "polygon") {
          var area = L.GeometryUtil.geodesicArea(layer.getLatLngs()[0]);
          content = `<b>Polygon</b><br>Area: ${(area / 1000000).toFixed(
            2
          )} square kilometers<br><img src='https://placekitten.com/150/150' alt='Feature Image' style='width:100%; height:auto;'>`;
        } else if (type === "rectangle") {
          var area = L.GeometryUtil.geodesicArea(layer.getLatLngs()[0]);
          content = `<b>Rectangle</b><br>Area: ${(area / 1000000).toFixed(
            2
          )} square kilometers<br><img src='https://placekitten.com/150/150' alt='Feature Image' style='width:100%; height:auto;'>`;
        } else if (type === "circle") {
          var radius = layer.getRadius();
          content = `<b>Circle</b><br>Radius: ${radius.toFixed(
            2
          )} meters<br><img src='https://placekitten.com/150/150' alt='Feature Image' style='width:100%; height:auto;'>`;
        }

        layer.bindPopup(content);
        drawnItems.addLayer(layer);
      });

      map.on(L.Draw.Event.EDITED, function (e) {
        var layers = e.layers;
        layers.eachLayer(function (layer) {
          if (layer instanceof L.Polygon) {
            var area = L.GeometryUtil.geodesicArea(layer.getLatLngs()[0]);
            layer.setPopupContent(
              `<b>Polygon</b><br>Area: ${(area / 1000000).toFixed(
                2
              )} square kilometers<br><img src='https://placekitten.com/150/150' alt='Feature Image' style='width:100%; height:auto;'>`
            );
          }
          if (layer instanceof L.Polyline && !(layer instanceof L.Polygon)) {
            var length = L.GeometryUtil.length(layer);
            layer.setPopupContent(
              `<b>Polyline</b><br>Length: ${length.toFixed(
                2
              )} meters<br><img src='https://placekitten.com/150/150' alt='Feature Image' style='width:100%; height:auto;'>`
            );
          }
          if (layer instanceof L.Circle) {
            var radius = layer.getRadius();
            layer.setPopupContent(
              `<b>Circle</b><br>Radius: ${radius.toFixed(
                2
              )} meters<br><img src='https://placekitten.com/150/150' alt='Feature Image' style='width:100%; height:auto;'>`
            );
          }
        });
      });

      document.getElementById("points-of-interest").addEventListener("click", () => {
        
        map.setView([59.3262, 18.0841], 13);

      })

      //TASK 2
      // Polyline Measure control initialization
      var polylineMeasure = L.control.polylineMeasure({
        position: "topleft",
        unit: "metres",
        showBearings: true,
        clearMeasurementsOnStop: false,
        showClearControl: true,
        showUnitControl: true,
      });
      polylineMeasure.addTo(map);

      var pointsOfInterest = [
        {
          name: "Skansen",
          location: L.latLng(59.3264, 18.1036),
          info: "Open-air museum and zoo.",
        },
        {
          name: "Vasamuseet",
          location: L.latLng(59.3278, 18.0913),
          info: "Maritime museum in Stockholm.",
        },
        {
          name: "Moderna Museet",
          location: L.latLng(59.3262, 18.0841),
          info: "Museum of modern art.",
        },

        {
          name: "Kungliga Slottet",
          location: L.latLng(59.3267, 18.0735),
          info: "The Royal Palace of Stockholm.",
        },
        {
          name: "Stadshuset",
          location: L.latLng(59.3275, 18.0549),
          info: "Stockholm City Hall.",
        },
      ];

      var sidebar = document.getElementById("sidebar");

      pointsOfInterest.forEach(function (point) {
        var marker = L.marker(point.location).addTo(map);
        marker.bindPopup(`<b>${point.name}</b><br>${point.info}`);
        marker.on("click", function () {
          sidebar.style.display = "block";
          sidebar.innerHTML = `<h3>${point.name}</h3><p>${point.info}</p>`;
        });
      });

      // Extracting the locations for polylineMeasure.seed()
      var locations = pointsOfInterest.map(function (point) {
        return point.location; 
      });


      map
        .on("load", function () {
          polylineMeasure.seed([locations]); 
        })
        .fire("load");

      map.on("click", function () {
        sidebar.style.display = "none"; // Hide the sidebar when map is clicked
        sidebar.innerHTML = "";
      });

      //TASK 3
      var supermarketLayer = null;

      function toggleSupermarkets() {
        if (supermarketLayer) {
          map.removeLayer(supermarketLayer);
          supermarketLayer = null;
        } else {
          fetch("static/supermarket.geojson")
            .then((response) => response.json())
            .then(processSupermarkets);
        }
      }

      function processSupermarkets(data) {
        supermarketLayer = L.featureGroup().addTo(map);
        var buffers = [];
        data.features.forEach(function (feature) {
          var buffer = turf.buffer(feature, 1, { units: "kilometers" });
          buffers.push(buffer);
          L.geoJSON(buffer, {
            style: function () {
              return {
                color: "#ff7800",
                weight: 1,
                opacity: 0.5,
                fillOpacity: 0.1,
              };
            },
          }).addTo(supermarketLayer);
          L.geoJSON(feature)
            .bindPopup(feature.properties.name)
            .addTo(supermarketLayer);
        });
        highlightNonOverlapping(buffers);
      }

      function highlightNonOverlapping(buffers) {
        var nonOverlapping = buffers
          .map(function (buffer, index, arr) {
            var overlap = false;
            arr.forEach(function (otherBuffer, otherIndex) {
              if (index !== otherIndex && turf.intersect(buffer, otherBuffer)) {
                overlap = true;
              }
            });
            return overlap ? null : buffer;
          })
          .filter(Boolean);

        nonOverlapping.forEach(function (buffer) {
          L.geoJSON(buffer, {
            style: function () {
              return {
                color: "#00ff00",
                weight: 2,
                opacity: 1,
                fillOpacity: 0.2,
              };
            },
          }).addTo(supermarketLayer);
        });
      }

      document
        .getElementById("load-supermarkets")
        .addEventListener("click", toggleSupermarkets);

      //TASK 3 - 4
      function toggleLayer(layerId, url, processFunction) {
        // Check if the layer already exists
        if (layers[layerId]) {
          map.removeLayer(layers[layerId]); // Remove the layer from the map
          layers[layerId] = null; // Set the layer reference to null
        } else {
          fetch(url)
            .then((response) => response.json())
            .then((data) => {
              layers[layerId] = processFunction(data); // Create the layer
              layers[layerId].addTo(map); // Add the layer to the map
            });
        }
      }

      //TASK 4
      //BaseMap
      var imageUrl = "./static/Skärmbild.jpg";
      var imageBounds = [
        [59.33170087003419, 18.079330346714354],
        [59.318057681978175, 18.156903901688544],
      ];
      L.imageOverlay(imageUrl, imageBounds).addTo(map);

      //TASK  5
      //Fuel Layer
      document
        .getElementById("load-fuel-stations")
        .addEventListener("click", function () {
          toggleLayer("fuel", "static/fuel.geojson", function (data) {
            var markers = L.markerClusterGroup();
            var geoJsonLayer = L.geoJSON(data, {
              onEachFeature: function (feature, layer) {
                layer.bindPopup(feature.properties.name);
                markers.addLayer(layer);
              },
            });
            return markers;
          });
        });

      //TASK 6
      var weatherLayer = L.layerGroup().addTo(map);
      map.addLayer(weatherLayer);

      //Weather API
      const apiKey = "2725faee05d642059a32a1c9855aae2d";
      const apiUrl = "https://api.trafikinfo.trafikverket.se/v2/data.json";

      

      function fetchDataAndVisualize(cityNumber) {
        const xmlRequest = `
          <REQUEST>
            <LOGIN authenticationkey="${apiKey}" />
            <QUERY objecttype="WeatherStation" schemaversion="1">
              <FILTER>
                <EQ name="CountyNo" value="${cityNumber}" />
              </FILTER>
            </QUERY>
          </REQUEST>`;

        var setAirTemp = [];
        var getNormalizedAirTemp;

        return new Promise((resolve, reject) => {
          fetch(apiUrl, {
            method: "POST",
            headers: { "Content-Type": "text/xml" },
            body: xmlRequest,
          })
          .then((response) => response.json())
          .then((data) => {
            console.log("Received data:", data);

            if (data && data.RESPONSE && data.RESPONSE.RESULT && data.RESPONSE.RESULT[0].WeatherStation) {
              data.RESPONSE.RESULT[0].WeatherStation.forEach((station) => {
                if (station.Measurement && station.Measurement.Air && station.Measurement.Air.Temp) {
                  const airTemp = station.Measurement.Air.Temp;
                  setAirTemp.push(airTemp);
                } else {
                  console.warn("Missing or incomplete data for station:", station);
                }
              });

              getNormalizedAirTemp = setAirTemp.reduce((acc, currentAirTemp) => acc + currentAirTemp, 0);
              getNormalizedAirTemp /= setAirTemp.length;
              getNormalizedAirTemp = getNormalizedAirTemp.toFixed(2);

              console.log("Average Air Temperature:", getNormalizedAirTemp);
              resolve(getNormalizedAirTemp); // Resolve the promise with getNormalizedAirTemp
            } else {
              console.log("No data received from the API");
              reject(new Error("No data received from the API"));
            }
          })
          .catch((error) => {
            console.error("Error fetching or parsing data:", error);
            reject(error);
          });
        });
      }

      const cities = ["Stockholm", "Uppsala", "Göteborg", "Falun", "Luleå"];

      let cordinat = new Map();

      cordinat.set("Stockholm", { lat: 59.3293, lng: 18.0686 });
      cordinat.set("Uppsala", { lat: 59.8586, lng: 17.6389 });
      cordinat.set("Göteborg", { lat: 57.7089, lng: 11.9746 });
      cordinat.set("Falun", { lat: 60.6036, lng: 15.6254 });
      cordinat.set("Luleå", { lat: 65.5842, lng: 22.1547 });

      let regions = new Map();

      regions.set("Stockholm", 1);
      regions.set("Uppsala", 3);
      regions.set("Göteborg", 14);
      regions.set("Falun", 20);
      regions.set("Luleå", 25);

      function getAverageTemperature()
      {
        sidebar.style.display = "block";
        
        for(const city of cities)
        {
          var temperature = 0;
          fetchDataAndVisualize(regions.get(city))
          .then((getNormalizedAirTemp) => {
            console.log("Average Air Temperature:", getNormalizedAirTemp);
            L.marker([cordinat.get(city).lat, cordinat.get(city).lng])
            .addTo(weatherLayer) 
            .bindPopup(`Average temperature in ${city}: ${getNormalizedAirTemp}°C`);
            sidebar.innerHTML += `<h3>${city}</h3><p>${getNormalizedAirTemp}°C</p>`;
          })
          .catch((error) => {
            console.error("Error fetching or visualizing data:", error);
          });
        }
      }

      

      function toggleWeather() {
        if (map.hasLayer(weatherLayer) && weatherLayer.getLayers().length > 0) {
          weatherLayer.clearLayers();
          map.removeLayer(weatherLayer);
          sidebar.style.display = "none";
          sidebar.innerHTML = "";
        } else {
          map.addLayer(weatherLayer);
          getAverageTemperature();
        }
      }

      document
        .getElementById("show-weather")
        .addEventListener("click", toggleWeather);


      //TASK 7

      var schoolLayer = L.layerGroup().addTo(map);
      // Event listener för att läsa in och visa skolor
      document
        .getElementById("load-schools")
        .addEventListener("click", loadAndDisplaySchools);

      function loadAndDisplaySchools() {
        // Om lagret redan har markörer, ta bort dem och avbryt funktionen
        if (schoolLayer.getLayers().length > 0) {
          schoolLayer.clearLayers();
          return;
        }

        fetch("/api/schools")
          .then((response) => response.json())
          .then((schools) => {
            schools.forEach((school) => {
              L.circleMarker([school.ycoord, school.xcoord], {
                color: getColor(school.cluster),
                fillColor: getColor(school.cluster),
                fillOpacity: 0.5,
                radius: 10,
              })
                .bindPopup(
                  `School: ${school.Name}<br>Cluster: ${school.cluster}`
                )
                .addTo(schoolLayer);
            });
          })
          .catch((error) => console.error("Error loading school data:", error));
      }

      function getColor(cluster) {
        const colors = ["#e41a1c", "#377eb8", "#4daf4a", "#984ea3", "#ff7f00"];
        return colors[cluster % colors.length];
      }
    </script>
  </body>
</html>
